node_modules/
private/
*.zip
.DS_Store
api-*
todo.txt
server/guardianberry.zip
server/publish*.*
server/swagger*.*
server/guardianberry.zip
server/widdershins.json
server/lambda/package-lock.json
server/deploy
coco/pycocotools
coco/annotations
test-events